/* Import PT Sans and PT Serif from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html, body {
	padding: 0;
	margin: 0;
}

body {
	background-color: black;
	color: white;
	font-family: "PT Serif", Georgia, serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "PT Sans", "Century Gothic", sans-serif;
}

a:link {
	color: rgb(135, 152, 250);
}
a:visited {
	color: rgb(109, 84, 133);
}

main {
	margin-left: 25%;
}

@media (max-width: 1024px) {
	main {
		width: 75%;
	}
}
@media (min-width: 1025px) {
	main {
		width: 768px;
	}
}
